.flexBox{
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
}
.gridList  {
  width: 500;
  height: 450;
  margin: '10px auto';
}
.icon {
  color: 'rgba(255, 255, 255, 0.54)';
}